body{
  width: 115mm;
  font-size: 9pt;
}
table {
  width: 100%;
}

h2{
text-align: center;
font-size: 15pt;
}

span{
  padding-bottom: 5mm;
}

span.time{
  float:right;
}

.even{
  background-color: #f6f6f6;
}

td.order-header {
  text-align:center;
  border: 1px solid #cccccc;
}

td.total-price{
  text-align: right;
}

#total-cost-value{
  text-align:right;
}

#cost-paid-value{
  text-align:right;
}

#cost-due-value{
  font-weight: bold;
  text-align:right;
  font-size: 12pt;
}

tr.whitespace {
  height: 3mm;
}



